body {
  font-family: 'Arial', sans-serif;
  background: #FFEBD2;
  color: #333;
  text-align: center;
  padding: 2rem;
  
}
#confettiCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}
.thankyou-container {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h1 {
  color: #004AAA;
  margin-bottom: 1rem;
}

h2 {
  color: #FF940E;
  margin-top: 2rem;
}

p {
  margin: 0.5rem 0 1rem;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.75rem 1.5rem;
  background:#b50202;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #FEB803;
}